.infoPanel {
  padding: 60px 10px 10px 10px;
  position: fixed;
  right: 100px;
  top: 300px;
  background: rgba(0, 0, 0, 0.4);
  color: aliceblue;
}

.infoPanel :global .ant-progress {
  margin: 5px 10px;
}

.infoPanel :global .ant-progress-inner {
  background-color: rgba(155, 155, 255, 0.5);
}

.infoPanel span {
  color: aliceblue;
}

.infoPanel :global .ant-table-small {
  border: 0;
}

.infoPanel :global .ant-table-tbody {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(161, 200, 230);
  font-weight: 100;
  max-height: auto;
}

.infoPanel :global .ant-table-tbody tr td {
  border: 0;
}

.infoPanel :global .ant-table-tbody tr:hover td {
  background-color: rgba(0, 0, 0, 0);
}

.infoPanel :global .ant-tag {
  font-size: 14px;
  color: rgb(229, 217, 185);
  background: rgba(221, 69, 145, 0.384);
  margin: 5px;
  border: 1px solid rgb(229, 217, 185);
}

.info {
  font-size: 17px;
  line-height: 30px;
  padding: 0 20px 0 30px;
  position: absolute;
  left: -50px;
  top: -20px;
  width: 450px;
  color: rgb(226, 250, 222);
  background-color: rgba(233, 70, 70, 0.6);
}

.echarts {
  width: 400px;
  height: 160px;
}
