.line_pick {
  position: fixed;
  width: 1000px;
  left: 550px;
  top: 10px;
}
.line_pick .line_picker {
  float: left;
  margin: 5px;
  width: 120px;
  height: 40px;
}
.line_pick span {
  pointer-events: none;
  z-index: 99;
  width: 120px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: aliceblue;
  position: absolute;
  margin-left: -120px;
}

.line_pick .line_name{
  margin-top: 20px;
}

.line_pick input:hover {
  opacity: 0.7;
}

.line_pick input {
  z-index: -99;
  appearance: none;
  width: 120px;
  height: 40px;
  border-radius: 2px;
  background: #e05c72;
  opacity: 0.5;
}

.line_pick input:checked {
  opacity: 0.9;
}
