.rightPanel {
  height: 260px;
  border-radius: 5px;
  position: absolute;
  display: flex;
  top: 780px;
  left: 220px;
  background: rgba(111, 133, 255, 0);
}

.rightPanel ::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.rightPanel :global .ant-tag-checkable {
  padding: 1px 7px;
  background: rgba(111, 133, 255, 0.2);
  border: 0;
}

.rightPanel :global .ant-tag-checkable-checked {
  padding: 0px 6px;
  border: 1px solid rgba(240, 248, 255, 0.5);
  background: rgba(111, 133, 255, 0.2);
}

.rightPanel #Table :global .ant-table-body {
  background: rgba(0, 0, 0, 0);
}

.rightPanel :global .ant-table-scroll ::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.linePanel {
  widows: 500px;
  float: left;
  display: flex;
}

.areaTitle {
  color: aliceblue;
  background: rgba(111, 133, 255, 0.2);
  text-align: center;
  float: left;
  width: 80px;
  height: 240px;
  margin: 10px;
  font-size: 22px;
  line-height: 50px;
  padding: 40px 0;
}
.tagPanel {
  background: rgba(111, 133, 255, 0.1);
  float: left;
  height: 240px;
  width: 400px;
  margin: 10px;
  padding: 10px;
}

.tagIcon {
  width: 400px;
  height: 35px;
  margin: -10px -10px 10px -10px;
  background: rgba(111, 133, 255, 0.1);
}

.tagIcon span {
  font-size: 14px;
  line-height: 35px;
  vertical-align: middle;
  color: rgba(255, 171, 0, 1);
  background-image: url(./sources/search.png);
  background-repeat: no-repeat;
  background-size: 20px 16px;
  padding-left: 30px;
  padding-bottom: 5px;
  margin-left: 25px;
}

.rightPanel :global .ant-table-wrapper {
  float: left;
}

.rightPanel :global .ant-table-content {
  margin: 10px;
}
.rightPanel :global .ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  overflow: hidden;
}

.rightPanel :global .ant-carousel .slick-slide div {
  font-size: 14px;
  color: #fff;
}

.rightPanel :global .ant-table-small {
  border: 0;
}
.rightPanel :global .ant-table-tbody {
  background-color: rgba(0, 0, 0, 0);
  color: aliceblue;
  font-weight: 100;
  max-height: auto;
}

.rightPanel :global .ant-table-tbody tr:hover {
  color: rgb(50, 100, 150);
}

.rightPanel :global .ant-table-tbody tr:nth-child(odd) {
  background: rgba(111, 133, 255, 0.1);
}
.rightPanel :global .ant-table-tbody tr:nth-child(even) {
  background: rgba(111, 133, 255, 0.2);
}
.rightPanel :global .ant-table-tbody tr td {
  border: 0;
}
.rightPanel :global .ant-tag {
  font-size: 14px;
  color: aliceblue;
  background: rgba(111, 133, 255, 0.1);
  margin: 5px;
}
