.infoPanel {
  margin-top: 230px;
  padding: 60px 10px 10px 10px;
  position: fixed;
  right: 100px;
  top: 48px;
  background: rgba(24, 31, 67, 0.94);
  color: aliceblue;
}

.info {
  font-size: 17px;
  line-height: 30px;
  padding: 35px 150px;
  line-height: 55px;
  font-size: 24px;
  position: absolute;
  left: -250px;
  top: -230px;
  width: 915px;
  height: 175px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(226, 250, 222);
}
.icon {
  display: inline-block;
  vertical-align: center;
  width: 17px;
  height: 12px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.echarts {
  width: 400px;
  height: 160px;
}

.infoPanel :global .ant-progress {
  margin: 5px 10px;
}

.infoPanel :global .ant-progress-inner {
  background-color: rgba(155, 155, 255, 0.5);
}

.infoPanel span {
  color: aliceblue;
}

.infoPanel :global .ant-table-small {
  border: 0;
}

.infoPanel :global .ant-table-tbody {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(161, 200, 230);
  font-weight: 100;
  max-height: auto;
}

.infoPanel :global .ant-table-tbody tr td {
  border: 0;
}

.infoPanel :global .ant-table-tbody tr:hover td {
  background-color: rgba(0, 0, 0, 0);
}

.infoPanel :global .ant-tag {
  font-size: 14px;
  color: rgb(229, 217, 185);
  background: rgba(221, 69, 145, 0.384);
  margin: 5px;
  border: 1px solid rgb(229, 217, 185);
}
